<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">


	{{!-- BootStrap --}}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	{{!-- CSS --}}
	<link rel="stylesheet" href="/css/burger_style.css" type="text/css">
	{{!-- Title --}}
	<title>Eat Da Burger!</title>
</head>

<body>
	<div class="container">
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Eat Da Burger</h1>
			
		</div>
	</div>
	</div>
	{{{ body }}}

	{{!-- jQuery --}}
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	{{!-- Javascript --}}
	<script src="/js/script.js"></script>
</body>

</html>